$primary: #020626;
$secondary: #D3A9E1;
$list-group-bg: #D3A9E1;
$list-group-hover-bg: #dee2e6;
$accordion-icon-color: #f8f9fa;
$accordion-icon-active-color: #f8f9fa;

@import '../node_modules/bootstrap/scss/bootstrap';